<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Character Encoding -->
    <meta charset="UTF-8">

    <!-- Responsive Viewport Layout -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO Search Engine Description -->
    <meta name="Nonnee's Kitchen" content="A webpage full of Nonnee's Kitchen recipes and cooking tips.">

    <!-- Link Stylesheet and JS -->
     <link rel="Stylesheet" href="nonneeskitchen.css">
     <script src="nonneeskitchen.js"></script>

    <!-- Page Title (Appears in browser tab) -->
    <title>Nonnee's Kitchen</title>
</head>
<body>
    <header class="topborder">
        <h1 id="website-title">Nonnee's Kitchen</h1>
        <ul class="topborder-options">
            <li><a href="#home" target="_blank">Home</a></li>
            <li><a href="#recipes" target="_blank">Recipes</a></li>
            <li><a href="#cooking-tips" target="_blank">Cooking Tips</a></li>
            <li><a href="#videos" target="_blank">Videos</a></li>
            <li><a href="#questions" target="_blank">Questions?</a></li>
        </ul>
    </header>

    <main>
        <div id="home">
            <img id="homepage-logo" class="fulllogo" src="nonneeskitchenlogos\IMG_0138.PNG" alt="Full Logo">
            <h2 class="page-title">Welcome to Nonnee's Kitchen!</h2>
            <p class="details">Find Recipes.</p>
        </div>

        
        <div id="recipes">
            <!-- Recipe #1 -->
            <h2 class="page-title">Recipes</h2>

            <div id="recipe1" class="recipe">
                <h3 class="recipe-name">American Southern Red Beans & Rice</h3>
                <p class="recipe-intro">Here is a recipe for classic American Southern Red Beans & Rice.</p>
                <h4 class="subtitles">Ingredients</h4>
                <div class="recipe-grid">
                    <div class="box1">
                        <h5 class="sub-subtitles">Pantry/Dry Food</h5>
                        <ul class="recipedetails">
                            <li>Cooked White Rice</li>
                            <li>Red Kidney Beans</li>
                            <li>Chicken Broth</li>
                        </ul>
                    </div>
                    <div class="box2">
                        <h5 class="sub-subtitles">Meat</h5>
                        <ul class="recipedetails">
                            <li>Turkey Part (Of your choice: neck, thighs, wings)</li>
                            <li>Andouille Sausage</li>
                        </ul>
                    </div>
                    <div class="box3">
                        <h5 class="sub-subtitles">Produce/Vegetables</h5>
                        <ul class="recipedetails">
                            <li>Celery</li>
                            <li>Green Bell Pepper</li>
                            <li>Yellow Onion</li>
                            <li>Garlic</li>
                            <li>For garnish: Green Onions</li>
                        </ul>
                    </div>
                    <div class="box4">
                        <h5 class="sub-subtitles">Seasonings</h5>
                        <ul class="recipedetails">
                            <li>Onion Powder</li>
                            <li>Garlic Powder</li>
                            <li>Creole Seasoning</li>
                            <li>Fresh or Dried Herbs of Choice, or Italian Seasoning</li>
                            <li>Cayenne Pepper</li>
                            <li>Sage</li>
                            <li>Bay Leaves</li>
                            <li>Salt</li>
                            <li>Black Pepper</li>
                        </ul>
                    </div>
                    <div class="box5">
                        <h5 class="sub-subtitles">Other</h5>
                        <ul class="recipedetails">
                            <li>Optional Chicken Broth Replacement: Water & Chicken Bouillon</li>
                            <li>Optional: Cornstarch (As Thickening Agent)</li>
                        </ul>
            </div>
            <div class="box6"></div>
        </div>
                <h4 class="subtitles">Equipment</h4>
                <div class="equipment-grid">
                    <div class="box1">
                        <h5 class="sub-subtitles">Appliances</h5>
                        <ul class="recipedetails">
                            <li>Stove or Crockpot</li>
                        </ul>
                    </div>
                    <div class="box2">
                        <h5 class="sub-subtitles">Standard Tools</h5>
                        <ul class="recipedetails">
                            <li>Stirring Spoon</li>
                            <li>Big Pot with Lid</li>
                            <li>Knife or Slicing Tool</li>
                            <li>Bowl</li>
                            <li>Optional, but recommended: tongs</li>
                            <li>For serving: Ladle</li>
                        </ul>
                    </div>
                    <div class="box3">
                        <h5 class="sub-subtitles">Machine Tools</h5>
                        <ul class="recipedetails">
                            <li>Blender or Immersion Blender</li>
                        </ul>
                    </div>
                </div>
                <h4 class="subtitles">Instructions</h4>
                <ol class="instructions">
                    <li>Soak Red Kidney Beans in water overnight or for at least 4 hours. Drain after.</li>
                    <li>Lightly season turkey part. Seal it and marinate in fridge.</li>
                    <li>Chop all vegetables and slice andouille sausage. Keep garlic separate. Keep green onions on side for garnish.</li>
                    <li>Set your pot to medium-high heat. Fry your sausage in a light amount of oil and butter. You want to brown your sausage. Remove when finished and set aside.</li>
                    <li>Turn the heat down to medium. Remove excess oil with a paper towel and tool of choice.</li>
                    <li>Fry chopped vegetables (except garlic) in a light amount of oil and butter until vegetables start to soften. Then add garlic. Continue frying until vegetables are soft. (Optional: add a medium-sized coat of cornstarch at the end. Incorporate with vegetables.)</li>
                    <li>Add red kidney beans and turkey parts to pot, then add chicken broth.</li>
                    <li>Season broth.</li>
                    <li>Turn up the heat until the mixture begins to boil, then turn down the temperature to a low heat. Let cook for 3 hours or until beans are tender.</li>
                    <li>Use tongs or spoon to remove turkey parts. Shred turkey parts and discard bones and excess fat. Add meat back to the pot.</li>
                    <li>Gather spoonfuls of beans and set aside in a bowl.</li>
                    <li>Add andouille sausage to pot.</li>
                    <li>Blend set-aside beans until creamy. Add blend back to the pot.</li>
                    <li>Let cook for 5 more minutes, then remove from heat.</li>
                    <li>Serve on top of white rice, garnish with green onions.</li>
                    <li>Congratulate yourself and be fulfilled.</li>
                </ol>
            </div>

            <!-- Recipe #2 -->
            <div id="recipe2" class="recipe">
                <h3 class="recipe-name">Sweet Pancakes</h3>
                <p class="recipe-intro">Here is a recipe for sweet pancakes.</p>
                <h4 class="subtitles">Ingredients</h4>
                <div class="recipe-grid">
                    <div class="box1">
                    <h5 class="sub-subtitles">Pantry/Dry Food</h5>
                    <ul class="recipedetails">
                        <li>Pancake Mix</li>
                        <li>Vanilla Extract</li>
                        <li>Banana Extract</li>
                    </ul>
                    </div>
                    <div class="box2">
                    <h5 class="sub-subtitles">Wet Ingredients</h5>
                    <ul class="recipedetails">
                        <li>Almond Milk</li>
                    </ul>
                    </div>
                    <div class="box3">
                    <h5 class="sub-subtitles">Seasonings</h5>
                    <ul class="recipedetails">
                        <li>Cinnamon Powder</li>
                    </ul>
                    </div>
                    <div class="box4">
                    <h5 class="sub-subtitles">Other</h5>
                    <ul class="recipedetails">
                        <li>Vegetable Oil</li>
                        <li>Butter</li>
                        <li>Optional Toppings: Syrup, Fruit, Whipped Cream, etc.</li>
                    </ul>
                    </div>
                    <div class="box5"></div>
                    <div class="box6"></div>
                </div>
                <h4 class="subtitles">Equipment</h4>
                <div class="equipment-grid">
                    <div class="box1">
                        <h5 class="sub-subtitles">Appliances</h5>
                        <ul class="recipedetails">
                            <li>Stove or Griddle</li>
                        </ul>
                    </div>
                    <div class="box2">
                        <h5 class="sub-subtitles">Standard Tools</h5>
                        <ul class="recipedetails">
                            <li>Stirring Spoon</li>
                            <li>Mixing Bowl</li>
                            <li>Frying Pan</li>
                            <li>Spatula</li>
                        </ul>
                    </div>
                    <div class="box3"></div>
                </div>
                <h4 class="subtitles">Instructions</h4>
                <ol class="instructions">
                    <li>Mix pancake mix and almond milk to a thick, yet runny consistency.</li>
                    <li>Add splashes of vanilla and banana extract.</li>
                    <li>Sprinkle in cinnamon powder.</li>
                    <li>Set your pan to medium-low heat with a teaspoon of vegetable oil.</li>
                    <li>Add pancake mix to pan when the oil is warm. Create pancakes of your desired size.</li>
                    <li>Flip pancake with spatula when many bubbles surface, or when the cooking side turns golden brown.</li>
                    <li>Remove pancake when the other side becomes golden brown.</li>
                    <li>Smooth butter on top of pancake.</li>
                    <li>Repeat steps 4-8 for remaining batter.</li>
                    <li>Serve with your toppings of choice, congratulate yourself, and be fulfilled!</li>
                </ol>
            </div>

            <!-- Recipe #3 -->
            <div id="recipe3" class="recipe">
                <h3 class="recipe-name">Cheesy Creole Shrimp & Grits</h3>
                <p class="recipe-intro">Here is a recipe for Cheesy Creole Shrimp & Grits.</p>
                <h4 class="subtitles">Ingredients</h4>
                <div class="recipe-grid">
                    <div class="box1">
                        <h5 class="sub-subtitles">Pantry/Dry Food</h5>
                        <ul class="recipedetails">
                            <li>Grits</li>
                        </ul>
                    </div>
                    <div class="box2">
                        <h5 class="sub-subtitles">Wet Ingredients</h5>
                        <ul class="recipedetails">
                            <li>Heavy Cream</li>
                            <li>Chicken Broth</li>
                            <li>Cheese</li>
                            <li>Butter</li>
                        </ul>
                    </div>
                    <div class="box3">
                        <h5 class="sub-subtitles">Meat</h5>
                        <ul class="recipedetails">
                            <li>Bacon</li>
                            <li>Shrimp</li>
                        </ul>
                    </div>
                    <div class="box4">
                        <h5 class="sub-subtitles">Produce/Vegetables</h5>
                        <ul class="recipedetails">
                            <li>Celery</li>
                            <li>Green Bell Pepper</li>
                            <li>Yellow Onion</li>
                            <li>Garlic</li>
                            <li>For garnish: Green Onions</li>
                        </ul>
                    </div>
                    <div class="box5">
                        <h5 class="sub-subtitles">Seasonings</h5>
                        <ul class="recipedetails">
                            <li>Onion Powder</li>
                            <li>Garlic Powder</li>
                            <li>Creole Seasoning</li>
                            <li>Parsley Flakes</li>
                            <li>Salt</li>
                            <li>Black Pepper</li>
                        </ul>
                    </div>
                    <div class="box6">
                        <h5 class="sub-subtitles">Other</h5>
                        <ul class="recipedetails">
                            <li>Optional Chicken Broth Replacement: Water & Chicken Bouillon</li>
                        </ul>
                    </div>
                </div>

                <h4 class="subtitles">Equipment</h4>
                <div class="equipment-grid">
                    <div class="box1">
                        <h5 class="sub-subtitles">Appliances</h5>
                        <ul class="recipedetails">
                            <li>Stove</li>
                        </ul>
                    </div>
                    <div class="box2">
                        <h5 class="sub-subtitles">Standard Tools</h5>
                        <ul class="recipedetails">
                            <li>Stirring Spoon</li>
                            <li>Knife or Slicing Tool</li>
                            <li>Pot</li>
                            <li>Sauce Pan</li>
                            <li>Frying Pan</li>
                            <li>Spatula</li>
                            <li>Optional, but recommended: tongs</li>
                        </ul>
                    </div>
                    <div class="box3"></div>
                </div>

                <h4 class="subtitles">Instructions</h4>
                <h5 class="sub-subtitles">Grits</h5>
                <ol class="instructions">
                    <li>Follow instructions on grits package for the correct grits to liquid ratio. Add grits and chicken broth to pot on medium heat.</li>
                    <li>Add a splash of heavy cream, a pinch of salt, black pepper, and a little bit of butter.</li>
                    <li>Let your grits cook. Stir occasionally to prevent sticking and burning.</li>
                    <li>Remove grits from heat when grits have thickened and absorbed the chicken broth.</li>
                </ol>
                <h5 class="sub-subtitles">Cheese Sauce</h5>
                <ol class="instructions">
                    <li>Chop celery, bell pepper, onion, and garlic.</li>
                    <li>Heat a saucepan to medium-high heat with butter and oil.</li>
                    <li>Fry chopped vegetables (except garlic) in a light amount of oil and butter until vegetables start to soften. Then add garlic. Continue frying until vegetables are soft (especially the celery).</li>
                    <li>Turn temperature down to medium-low heat.</li>
                    <li>Add heavy cream to saucepan for the base of your sauce.</li>
                    <li>Season mixture with all seasonings except salt and parsley.</li>
                    <li>Add a couple handfuls of cheese. Mix and allow cheese to melt and thicken into cream.</li>
                    <li>Taste and adjust seasonings, if needed.</li>
                    <li>Remove from heat when sauce reaches desired consistency.</li>
                </ol>
                <h5 class="sub-subtitles">Shrimp & Bacon</h5>
                <ol class="instructions">
                    <li>Lightly season shrimp with creole seasoning, onion powder, pepper, and parsley flakes.</li>
                    <li>Heat frying pan to medium heat with light amounts of oil and butter.</li>
                    <li>Fry shrimp on each side for about 3-4 minutes each.</li>
                    <li>Remove and set aside when finished.</li>
                    <li>Chop bacon into small bits.</li>
                    <li>Fry bacon bits. Remove when finished.</li>
                </ol>
                <h5 class="sub-subtitles">Toppings</h5>
                <ol class="instructions">
                    <li>In a bowl, layer grits, cheese sauce, shrimp, and bacon bits.</li>
                    <li>Garnish with green onions and parsley flakes, if desired.</li>
                    <li>Congratulate yourself and be fulfilled.</li>
                </ol>
            </div>
            
        </div>


        <div id="cooking-tips">
            <h2 class="page-title">Cooking Tips</h2>
        </div>

        
        <div id="videos">
            <h2 class="page-title">Videos</h2>
        </div>


        <div id="questions">
            <h2 class="page-title">Questions?</h2>
        </div>

    </main>

</body>
</html>
